@using System.Collections.Generic
@model AspNet.Models.AboutMeViewModel

@{
    ViewData["Title"] = "About Me";
}

<h1>@ViewData["Title"]</h1>

<p>Hello! I'm Rahul Vikram! Currently, I am a:</p> 
@foreach (var job in Model.Jobs)
{
    <p>@Html.Raw(job.Value.Item1) @job.Key at @job.Value.Item2.</p>
}

<h2>Skills</h2>
@foreach (var skill in Model.Skills)
{
    <p><strong>@skill.Key:</strong> @skill.Value</p>
}

<h2>Hobbies</h2>
<p>In my free time, I enjoy...</p> 
<ul>
    @foreach (var hobby in Model.Hobbies)
    {
        <li>@hobby</li>
    }
</ul>

<h2>Contact</h2>
<p>You can reach me at [Your Email] or connect with me on [Your Social Media Links].</p>